* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #58626c;
}

.task-card {
  max-height: 400px;
  overflow-y: auto;
}

.task-card::-webkit-scrollbar {
  width: 6px;
}

.task-card::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.task-card::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.task-card:hover::-webkit-scrollbar-thumb {
  background-color: #555;
}
